# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata
*.rda

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# Big results
Models/cindy/results/btree_tuned_1.rda
Models/cindy/results/autoarima_results1.rda
Models/cindy/results/arima_tuned_1.rda
Models/cindy/results/prophet_tuned_1.rda
Models/cindy/results/prophet_single.rda
Models/cindy/results/prophet_multi_log_tuned_1.rda
Models/cindy/results/prophet_multi_log.rda
Models/cindy/results/prophet_multi.rda
Models/cindy/results/btree_log_tuned_1.rda
Models/cindy/results/btree_log.rda
Models/cindy/results/btree.rda
Models/cindy/results/rf_tuned_1.rda
Models/cindy/results/rf_tuned_1.rda
Models/cindy/results/rf.rda

Models/erica/results/btree_autoplot_1.png
Model/erica/results/btree_tuned_1.rda
.DS_Store
.DS_Store
